@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --VeryDarkBlue: hsl(243, 87%, 12%);
    --DesaturatedBlue: hsl(238, 22%, 44%);

    --BrightBlue: hsl(224, 93%, 58%);
    --ModerateCyan: hsl(170, 45%, 43%);

    --LightGrayishBlue: hsl(240, 75%, 98%);
    --LightGray: hsl(0, 0%, 75%);

    --White: hsl(0, 0%, 100%);
}

body {
    font-size: 1rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;  
    padding: 0;
    margin: 0;
}
main {
    margin: 0 auto;
    overflow-x: hidden;
}
.few {
    padding: 1.25rem;
}

.first-background {
    max-inline-size: 100%;
    block-size: auto;
}

.curved-background {
    background: url(/images/bg-curve-mobile.svg) no-repeat center;
    background-size: cover;
}

.second-background {
    max-inline-size: 100%;
    block-size: auto;
    padding-top: 20px;
}

.navigation-header {
    background-color: var(--White); /*change to white bg later*/
    padding: 0 15px;
    height: 60px;  /*previously 60px*/
    display: flex;
    justify-content: center;
    align-items: center
}
nav {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation-items {
    display: flex;
    gap: 40px;
}
.navigation-items > a {
    color: var(--VeryDarkBlue); /*text color should be darkblue*/
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    transition: .4s ease-in-out;
}
.navigation-items > a:hover {
    color: gold;
}

.hamburger {
    font-size: 20px;
    font-weight: 800;
    color: var(--VeryDarkBlue);/*darkblue*/
    display: none;
}


@media screen and (max-width: 768px) {
    .logo{
        width: 80px;
    }
    .hamburger {
        display: flex;
        cursor: pointer;
    }
    .hamburger #closeHam {
        display: none;
    }
    .navigation-items {
        flex-direction: column;
        align-items: center;
        position: absolute;
        right: 0;
        top: 58px;
        background-color: var(--White); /*with opaque white*/
        opacity: 0.7;
        width: 100%;
        height: calc(100vh - 58px); /*precisely 100vh*/
        padding-left: 60px;
        gap: 10vh;
        display: none;
    }

    .productive-header {
        text-align: center;
    }

    .highlighted {
        justify-content: center;
    }
    .hr-element {
        width: 100%;
        margin-left: 80px;
    }
}

@media screen and (min-width: 50rem) {
    .ham-menu {
        display: none;
    }

    .off-screen-menu {
        position: static;
        display: flex;
        flex-direction: row;
    }
    .logo {
        height: 40px;
    }
    .navigation-header {
        margin-top: 20px;
    }

    .one {
        display: flex;
        flex-direction: row-reverse;
        margin-top: 30px;
    }
    .hero {
        margin-top: 100px;
    }
    .hero-heading, .hero-paragraph, .email-box {
        text-align: left;
    }
    .email-input-container {
        width: 60%;
    }
    .some-buttons {
        width: 45%;
    }
    .email-box {
        display: flex;
        flex-direction: row;
    }

    .two {
        display: flex;
        flex-direction: row-reverse;
    }
    .productive, .second-background-container {
        margin-top: 70px;
    }

    .second-background {
        width: 100%;
    }
    .second-background-container {
        width: 50%;
    }
}

.hero {
    text-align: center;
}
input[type=text], select {
    width: 75%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid var(--DesaturatedBlue);
    border-radius: 4px;
}
input[type=text]:focus {
    border: 1px solid var(--DesaturatedBlue);
    outline: none;
}

.get-started-btn {
    width: 88%;
    padding: 10px 20px;
    margin-top: 8px;
    border: none;
    border-radius: 4px;
    background-color: var(--BrightBlue);
    color: var(--White);
    box-shadow: 3px 3px var(--LightGray);
}

.highlighted {
    display: flex;
    gap: 10px;
}
.highlight, .arrow {
    margin: 0;
    padding: 0;
    text-align: center;
}

hr {
    border: 1px solid var(--ModerateCyan);
    width: 50%;
    transform: translateX(-50%);
}

.container {
    background-color: var(--White);
    padding: 20px 25px; 
    margin-top: 50px;
    border-radius: 5px;
}

.alignment {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.testimonial {
    font-size: 13px;
}
.testimonial-paragraph{
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
}
.testimonial-name {
    margin-bottom: 0;
    margin-top: 0.63rem;
}
.testimonial-title {
    margin-top: 0;
    font-size: 0.63rem;
}

.avatar {
    border-radius: 50%;
    height: 2rem;
    margin-bottom: 0;
}

.details {
    padding: 10px;
    margin-top: 30px;
}
.detail-heading, .detail-paragraph, .starter-box {
    text-align: center;
    color: var(--LightGray);
}

.starter-input-container, .starter-button {
    border-radius: 2px;
}

.starter-button {
    padding: 12px 70px;
    border: none;
    background-color: var(--BrightBlue);
    color: var(--White);
}

.details {
    background-color: var(--DesaturatedBlue);
    margin-top: 0;
}

footer {
    margin-bottom: 0;
    background-color: var(--VeryDarkBlue);
    color: var(--LightGray);
}

.phone-container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
.phone {
    margin-top: 20px;
}

.mail-container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}
.mail {
    margin-top: 20px;
}

.about {
    padding: 30px 0;
}

